= simple_form_for @classi_inserter do |f|
  = f.input :classe, as: :select, collection: 1..5, prompt: "inserisci classe", autofocus: true
  = f.input :sezioni, hint: "Inserisci la sezione (a-z) senza spazi e senza ripetizioni.</br>Le sezioni inserite verranno convertite in maiuscolo"
  = f.input :nr_alunni, hint: "Inserisci il numero di alunni per sezione separati da spazio(es. 22 23 25) oppure il totale per classe"
  
  / simple form non riesco a mettere data-classe
  / .input.collection_checkbox
  /   %label Libri adottati
  /   = f.collection_check_boxes :libro_ids, Libro.all, :id, :titolo

  .input.collection_checkbox
    = hidden_field_tag "classi_inserter[libro_ids][]", nil
    %label Libri adottati
    - Libro.all.each do |libro|
      %span.hidden{ data: { classe: "#{libro.classe}" } }
        = check_box_tag "classi_inserter[libro_ids][]", libro.id, false, id: dom_id(libro)
        = label_tag dom_id(libro), libro.titolo
    %br
    
  .actions
    = f.button :submit, label: "Salva"
    
%br

- adozioni_grouped = Adozione.includes(:libro).joins(:classe).order("classi.classe, classi.sezione").group_by(&:libro)

%ul
  - for libro, adozioni in adozioni_grouped do
    %li
      = libro.titolo
      .pull-right
        = adozioni.map {|c| c.classe.sezione}.join
        |
        / = adozioni.sum(&:nr_copie)
        
        
%h1 Listing classi

%table
  %tr
    %th Cliente
    %th Classe
    %th Sezione
    %th Nr alunni
    %th
    %th
    %th

  - Classe.includes(:adozioni => :libro).all.each do |classe|
    %tr
      %td= classe.cliente_id
      %td= classe.classe
      %td= classe.sezione
      %td= classe.nr_alunni
      %td= classe.adozioni.map { |a| a.libro }.join(", ") unless classe.adozioni.empty?
      %td= link_to 'Show', classe
      %td= link_to 'Edit', edit_classe_path(classe)
      %td= link_to 'Destroy', classe, :method => :delete

%br



